/* Stile di base per QPushButton */
QPushButton {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px; /* Bordi arrotondati con un raggio di 10 pixel */
  padding: 5px 5px; /* Spaziatura interna di 5 pixel sopra e sotto, 5 pixel a sinistra e a destra */
  font-size: 8pt;
}

/* Stile per QPushButton quando viene premuto */
QPushButton:pressed {
  background-color: green; /* Cambia il colore di sfondo a verde quando viene premuto */
}
