/* Stili per QPushButton */
QPushButton {
  background-color: black; /* Colore di sfondo verde */
  border: 1px solid white; /* Bordo bianco di 1px */
  border-radius: 25px; /* Bordo arrotondato */
  color: white; /* Colore del testo bianco */
  font-size: 10pt;
}
